

$write-color: #fff;
$gray-color: #333;
$light-gray-color: #ccc;





//==============================
//header
//==============================

header{
  height: 720px;
  background: rgba(0,0,0,.1) url("../images/banner3.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  .top-menu{
    height: 100px;
    line-height: 100px;
  }
  #login{
    color: $write-color;
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 23%;
  }
  #logo{
    text-align: center;
    a{
      font-family: 'Raleway', sans-serif;
      color: $write-color;
      font-weight: 700;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }
  #cart-box{
    float: right;
    width: 23%;
    text-align: center;
    overflow: hidden;
    a{
      display: inline-block;
      width: 100%;
      height: 50px;
      color: $write-color;
      background: #333;
      line-height: 50px;//居中
    }
  }
  #nav li{
    float: left;
    width: 190px;
    height: 38px;
    text-align: center;
    background: #fa558f;
    &:hover,&.active{
      background: #3C3B3B;
    }
    a{
      text-transform: uppercase;
      line-height: 38px;
      color: #fff;
    }
  }
  .caption{
    text-align: center;
    color: $write-color;
    position: absolute;
    top: 50%;
    .bigTitle{
      text-transform: uppercase;
      font-size: 4.5em;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
  }
  #table{
    width: 1140px;
    height: 290px;
    background: $write-color;
    z-index: 111;
    display: none;
    position: absolute;
    top: 138px;
    ul{
      width: 170px;
      overflow: hidden;
      float: left;
      margin: 10px;
      color: $gray-color;
      line-height: 32px;
      h3{
        text-transform: uppercase;
        font-weight: 500;
      }
      a{
        text-transform: capitalize;
        color: #aaa;
        font-weight: 300;
        font-size: 14px;
        &:hover{
          color: orange;
          text-decoration: underline;
        }
      }
    }
  }
}
#categoires{
  margin-top: 56px;
  li{
    float: left;
    width: 365px;
    height: 210px;
    margin-right: 22px;
    overflow: hidden;
  }
  li:nth-child(3){
    margin-right: 0;
  }
}

#container{
  padding-top: 56px;
  display: block;
  overflow: hidden;
}

#banner{
  float: right;
  li{
    float: left;
    background: #fa558f;
    padding: 7px 28px;
    margin-left: 5px;
    &:hover,&.active{
      background: $gray-color;
    }
    a{
      text-transform: capitalize;
      color: #fff;
    }
  }
}

#tab-grids{
  padding-top: 56px;
  display: block;
  overflow: hidden;
  width: 100%;

  .tab li{
    width: 31%;
    height: 641px;
    border: 1px $light-gray-color solid;
    margin: 0 3.2% 10px 0;
    float: left;
    overflow: hidden;
    .imgZone{
      width: 100%;
      height: 476px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .product-info{
      width: 100%;
      display: block;
      height: 90%;
      background: #eaeaea;
      padding: 3% 20px;
      line-height: 28px;
      h3{
        font-weight: 400;
      }
      .quantity{
        padding: 5px 10px;
        margin: 10px 0;
      }
      .btn-add-cart{
        width: 82px;
        height: 42px;
        background: orange;
        border-radius: 10px;
      }
    }
  }
  .tab li:nth-child(3n){
    margin: 0 0 10px 0;
  }
}






























